@{
    ViewData["Title"] = "Home Page";
}


<!--Page Details-->
<div class="text-center">
    <h1 class="display-4">Our View</h1>
    <p>The car buying customer journey is long and winding, with many speed bumps and sharp turns you have to navigate before you finally put pen to paper on the car of your dreams.A car is a vehicle that has wheels, carries a small number of passengers, and is moved by an engine or a motor. Cars are also called automobiles or motor vehicles. Trucks and buses are motor vehicles as well.</p>
</div>